*
  box-sizing: border-box

html
  font-size: 10px

body
  position: relative
  background: $color-dark
  font-family: "WorkSans", Helvetica, sans-serif
  color: $color-light

.container
  max-width: 1170px
  margin: 0 auto

img
  max-width: 100%
  height: auto

.button
  outline: none
  border: none
  text-align: center
  cursor: pointer
  word-break: break-word
  text-decoration: none

.title
  margin-top: 0
  margin-bottom: 0
  word-break: break-word

.p-text
  margin-top: 0
  margin-bottom: 0
  word-break: break-word

.link
  text-decoration: none
  word-break: break-word
  &:hover
    cursor: pointer
    text-decoration: underline

a.anchor
  display: block
  position: relative
  top: -11rem
  visibility: hidden

/*=== Buttons ===*/
.btn
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: 18rem
  height: 5.4rem
  padding: 0 2rem
  font: normal 500 1.4rem "WorkSans"
  letter-spacing: 0.35px
  text-transform: uppercase
  &--dark
    border: 2px solid $color-dark
    background: $color-dark
    color: $color-light
    &:hover
      background: transparent
      color: $color-dark
      transition: background 0.3s ease, color 0.3s ease
  &--light
    border: 2px solid $color-light
    background: $color-light
    color: $color-dark
    &:hover
      background: transparent
      color: $color-light
      transition: background 0.3s ease, color 0.3s ease
