@media (max-width: 1200px)
  .container
    max-width: 960px
  
  .numbers
    padding: 10rem 0
    &-wrapper
      justify-content: space-evenly
    &__item
      width: 35%
      &:nth-child(-n+2)
        margin-bottom: 2rem

  .testimonials
    padding: 10rem 0 5rem
    &__name
      margin-bottom: 8rem

  .blog
    .cards
      &__item
        width: 90%

  .contact
    padding: 10rem 0

  .footer
    &__photos
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(3, 8.5rem)

  .portfolio
    padding: 12rem 0 10rem
    
  .posts
    .cards
      &__item
        width: 48%
      &__image-wrapper
        height: 28.8rem
