@media (max-width: 575px)
  .intro
    padding: 6rem 0 4rem

  .contact
    .form
      &__input-group
        margin-bottom: 2rem
        &:first-child
          flex-direction: column
          .form__input
            width: 100%
            &:first-child
              margin-bottom: 2rem
