@media (max-width: 991px)
  .container
    max-width: 700px
  
  .header
    padding: 2rem 0

  .intro
    padding: 8rem 0
    &__suptitle
      margin-bottom: 2rem
    &__title
      margin-bottom: 1rem
      font-size: 4rem
    &__subtitle
      font-size: 4rem
