.about
  padding: 10rem 0
  background: $color-light
  color: $color-dark
  &__title
    @include section-title()
  &__text
    @include section-subtitle-text()
  &__image
    display: block
    margin: 0 auto
